<header class="header">
    <div class="container header__list">
        <div class=" header__logo logo">
            <a href="index.html" >Кино Поиск</a>
        </div>
        <nav class="nav">
            <ul class="nav__list">
                <li class="nav__item">
                    <a href="#" class="nav__link" >Лучшие Трилогии</a >
                </li>
                <li class="nav__item">
                    <a href="#" class="nav__link" >Новинки года</a >
                </li>
                <li class="nav__item">
                    <a href="#" class="nav__link" >Подборки</a >
                </li>
            </ul>
        </nav>
    </div>
</header>