html
{
	box-sizing: border-box;
	scroll-behavior: smooth;
	font-size: 62.5%;
}

body
{
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	margin: 0;
	padding:0 ;
	background-color: $mainBgColor;
	color: #ffffff;
	*,*::before,*::after {
		box-sizing: inherit;
	}
}


h1,h2,h3,h4,h5,h6,p
{
	margin: 0;
	padding: 0;
	
}

ul,li
{
	margin: 0;
	padding: 0;
	list-style:none;
}

input {
transition: 0.4s all  ease-in-out;
outline: none;
}
input:focus {
-webkit-text-stroke: 1.5px ;
}
input:invalid {
box-shadow: 0 0 3px 2px  red;
border-color:red ;
}
input:focus:invalid {
	box-shadow: 0 0 3px 2px  red;
	border-color:red ;
}


a
{
text-decoration: none;
color: inherit;
display: block;
}


button {
	border: none;
	outline: none;
	}
	
.logo {
	font-size: 2rem;
	font-weight: 700;
}

.router-link-active {
	color: red;
	box-shadow: 0 0 3px 3px;
}