
/* общие стили для всех страниц  */
// @import "global/reset.scss";
@import "global/colors.scss";
@import "global/body.scss";

/* общие стили для всех страниц  */

/*  общие компоненты для страниц */


@import "components/footer.scss";

@import "components/header.scss";


/*  общие компоненты для страниц */

/* стили отдельных блоков */


/* стили отдельных блоков */


